body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.italic {
    font-style: italic;
}

.avatar { 
    width: 150px;
    background-image: linear-gradient(#4D9DE0, #E1BC29);
    border: 8px solid #7768AE;
    border-radius: 24px;
    padding-top: 5px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #3C896D;
    color: whitesmoke;
    border-bottom: 8px solid #E1BC29;
    border-top: 8px solid #E15554;
    border-left: 8px solid #E15554;
    border-right: 8px solid #E15554;    
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}

/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

